:root {
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /* --- */
    --text: var(--bs-gray-800);
    --fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    --bg: var(--bs-light);
    --bg-hover: var(--bs-gray-400);
    /* --- */
    --size-part: 9.6rem;
    --size-part-row: 5;
    /* --- */
    background-color: rgb(63, 100, 127);
    color: var(--bs-dark);
    font-family: var(--fonts);
}

/* root classes */

body {
    margin: 0;
}
input {
    font-size: unset;
}
input[type="text"] {
    font-family: var(--fonts);
    flex-grow: 1;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-gray-500);
    box-shadow: var(--shadow);
    min-width: 3rem;
}
input[type="number"],
input[type="number"]:focus {
    border: none;
    outline: none;
}
div {
    white-space: pre-wrap;
}

/* general styling */

.window {
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}
.label {
    display: block;
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--bs-light);
    margin: 0 0.5rem;
}
.label.header:not(:first-of-type) {
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}
.button {
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0.1rem;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: 0.1s ease;
}
.button:hover {
    background-color: var(--bg-hover);
    border-color: var(--bg-hover);
}
.frame {
    box-sizing: border-box;
    border: 0.2rem solid var(--bg);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    transition: 0.1s ease;
}

/* utility classes */

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.scroll {
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-width: 0;
    padding: 1rem 0 1rem;
    scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.stack {
    display: grid;
    overflow: hidden;
    width: fit-content;
}
.stack>* {
    grid-area: inner-div;
}
.nowrap {
    white-space: nowrap;
}

/* popup - expects another div as child */

.popup {
    position: relative;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 50%));
    z-index: 6;
}
.popup>div {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--bs-light);
}
.popup::after {
    content: " ";
    white-space: normal;
    position: absolute;
    left: 14%;
    border-width: 10px;
    border-style: solid;
    pointer-events: none;
    border-color: transparent;
}
.popup.down>div {
    top: 0;
}
.popup.down::after {
    bottom: 100%;
    border-bottom-color: var(--bs-light);
}
.popup.up>div {
    bottom: 0;
}
.popup.up::after {
    top: 100%;
    border-top-color: var(--bs-light);
}

/* layout */

#main {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    grid-template-columns: minmax(calc(var(--size-part) + 0.2rem + 8rem), calc((var(--size-part) + 0.2rem) * var(--size-part-row) + 8rem)) auto auto;
    grid-template-rows: none;
}
#main #parts {
    grid-column: 1;
}
#main #composite {
    grid-column: 2;
}
#main #colors {
    grid-column: 3;
    align-items: flex-end;
    padding-right: 1rem;
    min-width: 15rem;
}
@media screen and (max-width: 1000px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    #main #parts {
        grid-column: 1;
        grid-row: 3 / -1;
    }
    #main #composite {
        grid-column: 1;
        grid-row: 1;
    }
    #main #colors {
        grid-column: 1;
        grid-row: 2;
        align-items: center;
    }
}

/* part picker */

.categoryList {
    width: 8rem;
    padding-right: 1rem;
}
.button.category {
    --bg: var(--bs-gray-400);
    --bg-hover: var(--bs-light);
    border-radius: 0 0.5rem 0.5rem 0;
    margin-bottom: 0.2rem;
    padding-right: 0;
    width: 6rem;
}
.button.category.selected {
    --bg: var(--bs-light);
    width: 7rem;
}
.partList {
    height: fit-content;
    max-width: calc((var(--size-part) + 0.2rem) * var(--size-part-row));
    min-width: var(--size-part);
    width: 100%;
    gap: 0.2rem;
}
.button.part {
    position: relative;
    overflow: hidden;
    width: var(--size-part);
    height: calc(var(--size-part) * 1.2);
    margin: 0;
    background-color: transparent;
}
.button.part.selected {
    background-color: rgba(248, 249, 250, 20%);
}
.button.part>canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

/* colour picker */

.colorButton:hover {
    box-shadow: 0 0 0.2rem var(--bs-dark);
}
.colorButton {
    box-sizing: border-box;
    height: calc(((24rem - (0.3rem * 2)) / 15) - 0.2rem);
    width: calc(((24rem - (0.3rem * 2)) / 15) - 0.2rem);
    margin: 0.1rem;
    border: 0.15rem solid;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

/* number field */

.numberOuter:hover {
    box-shadow: 0 0 0.2rem var(--bs-dark);
}
.numberOuter {
    --number-back: var(--bs-gray-500);
    --number-front: var(--bs-gray-300);
    /* --- */
    margin: 0 0.5rem;
    background-color: var(--number-back);
    border-radius: 0.5rem;
    box-shadow: 0 .1rem 0.1rem rgba(0, 0, 0, .25);
    height: 1.5rem;
}
.number {
    text-align: right;
    color: var(--bs-gray-700);
    width: calc(100% - 0.5rem);
    padding-right: 0.5rem;
    height: 1.5rem;
}
input.number {
    cursor: ew-resize;
}
div.number {
    cursor: pointer;
}
